.boton-clear{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #333;
    color: white;
    border: 0.5px solid #333;
    cursor: pointer;
    user-select: none;
}
.boton-clear:hover{
    background-color: #444444;
}