.boton {
    height: 80px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    background-color: #060606;
    color: white;
    border: 0.5px solid #1F1F1F;
    cursor: pointer;
    user-select: none;
}
.operador{
    background-color:#131313;
}
.igual{
    background-color:#134369;
}
.boton:hover {
    background-color: #444444;
}
.botonMem {
    height: 40px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
    color: white;
    border: 0.5px solid #1F1F1F;
    cursor: pointer;
    user-select: none;
    font-size: 0.8rem;
}
.botonMem:hover {
    background-color: #444444;
}
.botonE {
    height: 40px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
    color: white;
    border: 0.5px solid #1F1F1F;
    cursor: pointer;
    user-select: none;
    font-size: 0.8rem;
}