.input{
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 50px;
    background-color: #1F1F1F;
    color: white;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #333;
}