.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #413f42;
  font-family: "Share Tech Mono", "Segoe UI", Tahoma, Geneva, Verdana,;
  overflow: hidden;
}
.calculadora {
  width: 400px;
  height: 600px;
  background-color: #333;
  box-shadow: 0 0 24px 10px rgba(0, 0, 0, 0.3);
  height: 600px;
}
.fila {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F1F1F;
  color: #fff;
  border: 0.01px solid #1F1F1F;
  font-size: 1.2rem;  
}